<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/ ">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sarah's Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Additional CSS files here -->

  </head>
  <body style="box-sizing: border-box;">
    <div class="container-fluid">
        <div class="row text-center" id="topOfPage">
            <div class="col-3"> </div>
            <div class="col-6 pt-3">
                <h1>Sarah's Blog</h1>
            </div>
            <div class="col-3 pt-3">
                <button class="btn btn-info">login</button>
                <button class="mid-level btn btn-info">Add Content</button>
                <button class="admin btn btn-info">View Pending</button>
            </div>
        </div>
        <hr>
        
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <!-- for (navItemTitle n : GET(staticPages.title)) {add(<li class="nav-item">
                                                                            <a class="nav-link" href="n">n</a> 
                                                                        </li> )}  -->
                <li th:each="pageTitle : ${titles}" class="nav-item">
                  <a class="nav-link" href="staticPage.html" th:text="${pageTitle}">Title</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <div class="container row blogPost my-5">
        <div class="row title-row">
          <h3>Blog 1</h3>
        </div>
        <div class="row body-row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus nunc nec pulvinar fringilla. Nam in eros eros. Duis est urna, fermentum ac rutrum non, elementum et ex. Pellentesque convallis aliquam nunc sed placerat. Fusce eu elit at ligula malesuada ultrices. Suspendisse nisl arcu, interdum nec luctus in, sodales id velit. Vestibulum viverra, justo non facilisis malesuada, metus orci congue orci, id tristique dui tortor ac erat</p>
        </div>
        <div class="row img-row mx-auto img-fluid">
          <img class="rounded mx-auto d-block" src="https://th.bing.com/th/id/R.9e025ce61160397c56540851a9c96869?rik=CZfrqfZfdJtkTw&pid=ImgRaw&r=0">
        </div>
        <div class="row date-row">
          <p>02/11/1678</p> 
        </div>
      </div>
      <hr>
      <div class="container row blogPost my-5">
        <div class="row title-row">
          <h3>Blog 2</h3>
        </div>
        <div class="row body-row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus nunc nec pulvinar fringilla. Nam in eros eros. Duis est urna, fermentum ac rutrum non, elementum et ex. Pellentesque convallis aliquam nunc sed placerat. Fusce eu elit at ligula malesuada ultrices. Suspendisse nisl arcu, interdum nec luctus in, sodales id velit. Vestibulum viverra, justo non facilisis malesuada, metus orci congue orci, id tristique dui tortor ac erat</p>
        </div>
        <div class="row img-row mx-auto img-fluid">
          <img class="rounded mx-auto d-block" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg">
        </div>
        <div class="row date-row">
          <p>02/11/1678</p> 
        </div>
        <div class="row admin">
          <button class="btn btn-warning">DELETE</button>
          <button class="btn btn-success">APPROVE</button>
        </div>
      </div>
      <hr>
      <div class="container row blogPost my-5">
        <div class="row title-row">
          <h3>Blog 3</h3>
        </div>
        <div class="row body-row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus nunc nec pulvinar fringilla. Nam in eros eros. Duis est urna, fermentum ac rutrum non, elementum et ex. Pellentesque convallis aliquam nunc sed placerat. Fusce eu elit at ligula malesuada ultrices. Suspendisse nisl arcu, interdum nec luctus in, sodales id velit. Vestibulum viverra, justo non facilisis malesuada, metus orci congue orci, id tristique dui tortor ac erat</p>
        </div>
        <div class="row img-row mx-auto img-fluid">
          <img class="rounded mx-auto d-block" src="https://wallpapercave.com/wp/wp4768945.jpg">
        </div>
        <div class="row">
          <p>02/11/1678</p> 
        </div>
      </div>
      <hr>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- use the the full jQuery build, NOT the slim build-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
    <!-- custom js files -->
    <script src="js/contactList.js"></script>

    </body>
</html>